#  ▄▄ • ▪  ▄▄▄▄▄    
# ▐█ ▀ ▪██ •██      
# ▄█ ▀█▄▐█· ▐█.▪    
# ▐█▄▪▐█▐█▌ ▐█▌·    
# ·▀▀▀▀ ▀▀▀ ▀▀▀  
[user]
	email = fahadfzxt@gmail.com
	name = fzxt
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[hub]
	protocol = https
