#  ▄▄ • ▪  ▄▄▄▄▄    
# ▐█ ▀ ▪██ •██      
# ▄█ ▀█▄▐█· ▐█.▪    
# ▐█▄▪▐█▐█▌ ▐█▌·    
# ·▀▀▀▀ ▀▀▀ ▀▀▀  
[user]
	email = fahadfzxt@gmail.com
	name = fzxt
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = nvim
	pager = delta
  ignorecase = false
[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
  side-by-side = true
[interactive]
    diffFilter = delta --color-only
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[hub]
  protocol = https
[alias]
  s = status
  c = commit
  ca = commit --amend
  can = commit --amend --no-edit
  p = push


